@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
.header{
    position: relative;
    display: flex;
    margin: 1rem;
    padding: 1rem;
}
.header h2{
    font-size: 1.2rem;
    color:#D035FF;
}
.header select{
    margin: 10px;
}