@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
.container{
    position: relative;
    display: flex;
    height: 100px;
    width: 960px;
    background-color: antiquewhite;
}
.container h2{
    font-size: 1rem;
    padding: 5px;
    color:#D035FF;
}
.container select{
    margin: 10px;
}