@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
.header h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    color: #afd8f8;
    font-family: 'Ubuntu', sans-serif;
}
