.node {
    width: 25px;
    height: 25px;
    outline: 0.5px solid #afd8f8;
    display: inline-block;
  }
.node.is-Finish{
    background-color: #EE82EE;
}
.node.is-Start {
    background-color: 	#00FF7F;
}