.node {
    width: 24px;
    height: 24px;
    outline: 0.5px solid #afd8f8;
    display: inline-block;
  }
.node.is-Finish{
    background-image: url(../img/circle.svg);
}
.node.is-Start {
    background-image: url(../img/triangletwo-right.svg);
}